.title
{
    width: 400px; height: 60px;
    font-size: 25px;
    font-family: '黑体', Arial, Helvetica, sans-serif;
    color: rgb(192,149,96);
    line-height: 60px;
    position: relative; 
    text-align: center;
}
.back
{
    width: 20px; height: 25px;
    position: absolute;
    left: 15px;
    top: 17px;
}
.more
{
    width: 40px; height: 40px;
    color: rgb(192,149,96); font-size: 30px;
    border: none; background-color: white;
    position: absolute;
    top: 10px;
    right: 15px;
}
.head
{
    width: 400px; height: 190px; text-align: center;
}
.logo
{
    width: 230px; height: 86px; margin-top: 40px;
}
.bodys
{
    width: 400px; height: 380px;
    margin-top: 50px;
    text-align: center;
}
.sex {
    display: flex;
    width: 200px;
    height: 20px;
    text-align: center;
    align-items: flex-end;
    margin-left: 105px;
}
.sex .man {
    width: 100px;
    height: 35px;
    background: rgb(192,149,96);
    line-height: 35px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: relative;
}
.sex .man span {
    position: absolute;
    top: 30px;
    left: 42px;
    color: rgb(192,149,96);
}

.sex .woman {
    width: 100px;
    height: 35px;
    background: rgb(215, 215, 215);
    line-height: 33px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
}

.sex .woman span {
    position: absolute;
    top: 30px;
    left: 42px;
    color: rgb(215, 215, 215);
}

.sex div img {
    width: 20px;
    height: 21px;
}

.bodys form .list {
    width: 280px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(217, 217, 217);
}
.bodys form .list .img-box {
    position: relative;
    width: 20px;
    height: 20px;
    float: left;
}
.bodys form .list .img-box img {
    height: 19px;
    width: 19px;
    position: absolute;
    left: 15px;
    top: 5px;
}
.bodys form .list input {
    width: 210px;
    height: 26px;
    margin-left: 30px;
    border: none;
    font-size: 17px;
    outline: none;
}
.bodys form .list input::-webkit-input-placeholder{
    color: rgb(217, 217, 217);
}

.bodys form .list:nth-child(6) .img-box img {
    width: 22px;
    height: 17px;
}

.register_button
{
    width: 275px; 
    height: 50px;
    line-height: 50px;
    background-color: rgb(192,149,96,0.9);
    color: white; 
    padding: 15px 115px;
    font-size: 23px;
    font-family: '黑体', Arial, Helvetica, sans-serif;
    border-radius: 15px; 
    border: none;
    box-sizing: border-box;
}
.foot
{
    width: 400px; 
    margin-top: 45px;
}
